.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block;
}

.image {
  border-radius: 30%;
  background: white;
}

.card .h1 {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 20px;
  font-size: 5vw;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0 10px;
}
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 3000ms linear;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms linear 5000ms;
}

@media screen and (max-width: 1300px) {
  .projects {
    display: inline-block;
    border-radius: 25%;
  }
}
