.projects {
  //   display: grid;
  // grid-template-areas: "menu main main main";
  // grid-gap: 10px;
  //   background-color: #2196f3;
  // padding: 10px;
  display: flex;
  /* grid-template-columns:1fr 1fr 1fr;*/
  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: 1em;
  /* grid-auto-rows:100px; */
  // grid-auto-rows: minmax(100px, auto);
  margin: 20px;
  flex-wrap: nowrap;
}

.card img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block;
}

.image {
  border-radius: 30%;
  background: white;
}

.card .h1 {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 20px;
  font-size: 5vw;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0 10px;
}
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 3000ms linear;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms linear 5000ms;
}

@media screen and (min-width: 601px) {
  .card {
    // font-size: 20px;
    max-width: 25%;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}
