.words {
  color: white;
}
.ReachBubble {
  border: 3px #f3f3f3 solid;
  border-color: white;
  border-radius: 50%;
  padding: 50px;
  /* height */
  width: 20rem;
  text-align: center;
}

.contactContainer {
  display: flex;
  padding: 5rem;
}

.rotateCon {
  display: flex;
  padding: 2rem;
}

.lines {
  padding: 5rem;
}

.email {
  padding: 2rem;
  text-align: center;
}

u {
  text-decoration: none;
  border-bottom: 10px solid white;
  display: inline-block;
  width: 10rem;
  position: relative;
  padding-left: 5rem;
}

.forA {
  padding-bottom: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.great {
  padding: 2rem;
  text-align: center;
}

.words {
  padding: 3rem;
  text-align: center;
}
