.Container {
  position: fixed;
  top: 6%;
  left: 47%;
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  cursor: default;
  z-index: 1000;
  background-repeat: no-repeat;
}
.Container2 {
  position: absolute;
  top: 6%;
  left: 10rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  cursor: default;
  z-index: 1000;
  background-repeat: no-repeat;
  cursor: pointer;
  &:hover {
    letter-spacing: 1.5px;
    transition: letter-spacing 0.25s ease-in;
    // transition: letter-spacing 0.25s ease-out;
  }
}
.Container3 {
  position: absolute;
  top: 6%;
  left: 18rem;
  height: 4rem;
  width: 8.5rem;
  display: flex;
  flex-direction: column;
  cursor: default;
  z-index: 1000;
  background-repeat: no-repeat;
  cursor: pointer;
  &:hover {
    letter-spacing: 1.5px;
    transition: letter-spacing 0.25s ease-in;
  }
}

@media only screen and (max-width: 1500px) {
  .Container {
    left: 4%;
  }
}

@media only screen and (max-width: 1200px) {
  .Container {
    left: 5%;
  }
}

@media only screen and (max-width: 1000px) {
  .Container {
    top: 4%;
  }
}

@media only screen and (max-width: 700px) {
  .Container {
    top: 3%;
    left: 5%;
  }
}

@media only screen and (max-width: 500px) {
  .Container {
    top: 2%;
    left: 5%;
  }
  .smiley {
    height: 7rem;
  }
}

@media only screen and (max-width: 400px) {
  .Container {
    top: 2%;
    left: 6%;
  }
}
